html {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: 1px solid white;
    padding: 10px;
}

button {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: 1px solid white;
}

.grid {
    float: left;
    display: grid;
    grid-template-columns: repeat(30, 20px);
    grid-template-rows: repeat(30, 20px);
    grid-column-gap: 0px;
}

.props {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(30, 20px);
    grid-template-rows: repeat(30, 20px);
    grid-column-gap: 0px;
    z-index: 50;
}

.map {
    float: right;
    height: 400px;
    width: 650px;
    border: 1px solid rgb(253, 253, 253);
    overflow: scroll;
    overflow-x: hidden;
}

.square {
    opacity: 1;
    border: 1px solid rgb(253, 253, 253);
    background-color: rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
}

.prop {
    opacity: 1;
    border: 1px solid rgb(253, 253, 253);
    background-color: rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
}